
@{
    ViewData["Title"] = "Appointment Confirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success text-center">Appointment Successfully Confirmed!</h1><br/>
<h5>Click <a asp-controller="Home" asp-action="SignUp">here</a> if you'd like to add another appointment.</h5>
<h5>Click <a asp-controller="Home" asp-action="Appointments">here</a> if you'd like to view all your confirmed appointments.</h5>
<h5>Click <a asp-controller="Home" asp-action="Index">here</a> if you'd like to go back to the Home Page.</h5>