
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@model IEnumerable<Appointment>

<h1 class="text-center">Sign Up</h1>

<hr />

<table class="table table-bordered table-striped">

    <thead class="text-center bg-info text-white">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>

    <tbody class="text-center">
        <tr>
            @foreach (var x in Model)
            {

                @*<td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 AM</a></td>*@


                @if (x.Time == "Sunday")
                {
                    <td class="btn bg-dark text-white"><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">@x.Time</a></td>

                }

            
            }
        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">9:00 AM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">10:00 AM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">11:00 AM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">12:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">1:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">2:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">3:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">4:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">5:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">6:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">7:00 PM</a></td>
        </tr>

        <tr>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
            <td><a class="btn bg-dark text-white" asp-controller="Home" asp-action="AddAppointment">8:00 PM</a></td>
        </tr>
    </tbody>

</table>

